#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_anoncoin
#build/anoncoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_anoncoin)

DEB_INSTALL_EXAMPLES_anoncoind += debian/examples/*
DEB_INSTALL_MANPAGES_anoncoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix anoncoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f anoncoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake anoncoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_anoncoin
	src/test_anoncoin

# Ensure wrapper is set executable
binary-post-install/anoncoind:
	chmod +x $(cdbs_curdestdir)usr/bin/anoncoind
binary-post-install/anoncoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/anoncoin-qt
