src/*.exe
src/anoncoin
src/anoncoind
src/test_anoncoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.anoncoin

# Compilation and Qt preprocessor part
*.qm
Makefile
anoncoin-qt
Anoncoin-Qt.app

# Unit-tests
Makefile.test
anoncoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Python
*.pyc
*.pyd
*.pyo

!src/leveldb*/Makefile

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
