# The Anoncoin core primary gitignore file...
#
# The entries that follow are specific to building Anoncoin and it's toolchain, as well
# as running tests and various other core code activities.
# A few are for future structural changes to v10 core technology, that could otherwise be
# left out at this time.
#
# The challenge has been to get this list correct for building on the different platforms,
# initially this refers to linux, mingw32 on windows, and darwin on the mac.
#
# If your building with VisualStudio, running an IDE like Eclipse or Code::Blocks please
# add your entries, above or below this group.  As well, other types of non-standard tools.
#
# Core developers working on a subcomponent are welcome to include entries here, or use
# your subfolder and create an ignore list, specifically for your project.
#
# As this file is a work in progress, newly discovered items missing from the list are
# encouraged to be added, if your in a hurry, throw it at the bottom, for later organizing.
#
# For collections of useful .gitignore templates visit: https://github.com/github/gitignore

*.tar.gz

*.exe
src/anoncoin
src/anoncoind
src/anoncoin-cli
src/anoncoin-tx
src/test/test_anoncoin
src/qt/test/test_anoncoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/anoncoin-config.h
src/config/anoncoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.anoncoin
*.a
*.pb.cc
*.pb.h
*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
anoncoin-qt
Anoncoin.app
Anoncoin-Qt.app

# Unit-tests
Makefile.test
anoncoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_anoncoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-anoncoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

# Some Makefiles are built locally, others are static now, and we must
# include them, such as the one in depends, qt, qt test and leveldb.
Makefile
!depends/Makefile
!src/qt/Makefile
!src/test/Makefile
!src/leveldb/Makefile

src/leveldb/build_config.mk
/doc/doxygen/
libanoncoinconsensus.pc
src/qt/paymentrequest.pb.cc
src/qt/paymentrequest.pb.h

# When building db4 locally...
db4

# Add any other specific requirements, you may need, below this line...
#

src/qthemes
src/qt/anoncoin-qtc
